.table { 
    background-color: rgb(238, 239, 234);
    width: 100%;
    border: 5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}   
.table:hover{
    background-color: rgb(226, 224, 224);
    color:rgb(2, 2, 2);
    border: 5px solid #fff;
}
    
th, td {
    border: 5px solid black;
}

th, td:hover{
    border: 5px solid #fff;
}
img {
     width: 100%;
    height: 400px;
}

.header {
    background-color: #fff ;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid rgb(13, 13, 13);
}
a {
    box-sizing: border-box 33%;
}
.text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    padding: none;
    margin: none;

}

.contenedor { position: relative;

}
.div {
    position: relative;
    display: inline-block;
    background-color: darkgray;
    width: 100%;
    border: 2px solid black ;

} 

.a1 {
    text-decoration: none;
    
    left: 0;
}

.a3 {  text-decoration: none;
    position: absolute;
    right: 0;
}

.a2 { text-decoration: none;
    position: absolute;
    right: 45%;
}
a:link {
    color: blueviolet;
}
a:hover {
    color: yellow;      
}
a:active {
    color: red;
}
a:visited {
    color: gray;
}

.instagram {
    position: absolute;
    right: 2%;
    top: 25%;
}

.facebook {
    position: absolute;
    right: 7%;
    top: 25%;
}

.redes {
    position: absolute;
    top: 0%;
    right: 12%;
}
.email {position: absolute;
    right: 0%;
    top: 25%;
}
