img {
  width: 100%;
  height: 300px;
}

.mensaje {
  display: block;
  background: rgb(248, 245, 245);
  width: 53%;
  height: 200px;
  margin-left: 25%;
  margin-top: 10px;
  font-size: 20px;
  max-height: 400px;
  max-width: 53%;
}
button {
  margin-top: 5px;
  margin-bottom:;
  color: #fff;
  display: block;
  margin-left: 70.5%;
  width: 100px;
  height: 25px;
  background-color: rgb(58, 58, 181);
  box-shadow: 2px 2px black;
}
button:hover {
  background-color: black;
  box-shadow:5px 5px black;
  transition: 1s;
}

section{
    background-color: rgb(157, 150, 145);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding: 10px;
}   

.volver {margin-left: 95%;}
.mensj {
    margin-left: 45%;
}
label {
    margin-left: 25%;

}
input {
    width: 600px;
    height: 22px;
    font-size: larger;
}